body {
  font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
}

.navbar-inverse {
  background-color: #c0c7c4;
  border: 0;
  border-radius: 0;
}

.navbar-inverse .navbar-brand {
  color: #333;
  height: 80px;
}

.navbar-inverse .navbar-brand:hover {
  color: inherit;
}

.navbar-brand {
  font-size: 24px;
  margin-bottom: 0;
}

.navbar-brand img {
  height: 48px;
  width: 48px;
  margin-right: 10px;
}

.navbar {
  margin-bottom: 0;
}

p {
  margin-bottom: 15px;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin: 25px 0 15px 0;
}

.related-topics {
  font-size: 24px;
  color: #c66;
  font-style: italic;
  margin: 20px 0 10px 0;
}